<header class="main-header">
  <div class="container">
    <div class="logo">
      <a href="/">My<span>Website</span></a>
    </div>

    <nav class="nav-menu">
      <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="/contact">Contact</a></li>
      </ul>
    </nav>

    <div class="header-btns">
      <a href="#" class="btn-primary">Get Started</a>
    </div>
  </div>
</header>
